**/.git
**/.gitignore
**/.github
**/node_modules
**/npm-debug.log
**/bin
**/obj
**/logs
**/publish
**/dist
**/build
**/out
**/coverage
**/.vs
**/.vscode
**/.idea
**/*.user
**/*.suo
**/Dockerfile
**/Dockerfile.*
.git
.gitignore
README.md
docker-compose*.yml
